test/org/kohsuke/rngom/digested/combine.rng

<?xml version='1.0' encoding='utf-8'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
           xmlns:x="http://annotations">
	<start>
		<ref name="Start"/>
	</start>
	<define name="Start">
		<element name="T1">
			<empty/>
		</element>
	</define>
	<define name="Start" combine="choice">
		<element name="T2">
			<empty/>
		</element>
	</define>
</grammar>
